.top{
    margin-top: 10px;
}
.info{
    padding: 20px;
    margin: 10px 0px;
}
.inputs{
    margin-top: 10px;
    
}
.font-medium{
    color: rgb(95, 94, 94);
   margin-top: 10px; 
}
.product-info{
margin-top: 20px;
}
